h1{
    font-size: 50px;
    color: orange;
}

  h3{
      color: cadetblue;
  } 

.orange{
    color:blue
}
section{
    display: flex;
}
.contenar{
    width: 50%;
    padding-left:10%;
}
.top-banner{
    background-image: url(img/top-banner.png)
    background-repeat:no-repeat;
    
}

    .contenar img{
        width:80% ;
    }
.link-button{
    text-decoration: none;
    background-color: chartreuse;
    padding: 10px 40px;
}
body{
    margin:0px ;
}
.


}